*.jar
*.war
*.ear
*.class
.DS_Store
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.html
*.log
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

bin/
.idea
spark/target/*
target/*
*.iml

dependency-reduced-pom.xml

# Test Result files
test-output/
TestReport
result.txt
