apiVersion: 1

datasources:
  - name: Infinity
    type: yesoreyeram-infinity-datasource
    uid: wakask
    access: proxy
    isDefault: false
    editable: true
    jsonData:
      allowed_hosts: []

