apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: logwise
spec:
  type: NodePort
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30080
---
apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: logwise
spec:
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30081
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master
  namespace: logwise
spec:
  type: NodePort
  ports:
    - name: ui
      port: 8080
      targetPort: 8080
      nodePort: 30082
---
apiVersion: v1
kind: Service
metadata:
  name: vector-logs
  namespace: logwise
spec:
  type: NodePort
  ports:
    - name: otlp-http
      port: 4318
      targetPort: 4318
      nodePort: 30418
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker-ui
  namespace: logwise
spec:
  type: NodePort
  selector:
    app: spark-worker
  ports:
    - name: ui
      port: 8081
      targetPort: 8081
      nodePort: 30083
