apiVersion: v1
kind: Service
metadata:
  name: spark-worker-ui
  namespace: logwise
spec:
  type: NodePort
  selector:
    app: spark-worker
  ports:
    - name: ui
      port: 8081
      targetPort: 8081
      nodePort: 30083


